@import url(./font-hack.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
pre {
  font-family: Courier,monospace;
  width: 700px;
  margin-left: 20px;
  margin-bottom: 20px;
}
code {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font-family: Courier,monospace;
  overflow: scroll;
  color: green;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 2em;
}
h1 {
  font-weight: 800;
  font-size: 37px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0;
}
h2 {
  margin-top: 60px;
  margin-bottom: 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: url('images/header_zebra.png') repeat top left;
  color: #fff;
  padding: 11px;
  font-size: 22px;
  font-weight: 800;
}
h3 {
  font-weight: 800;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 18px;
}
h4 {
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 20px;
  font-size: 14px;
}
.page_head {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #fff;
  float: left;
  margin-left: 3.45em;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1em;
}
.top_wrap {
  margin: 0 auto 0 auto;
  width: 1024px;
}
#header {
  height: 80px;
  position: relative;
  min-width: 1024px;
  padding: 15px 35px 3px 35px;
  margin: 0;
  background-image: url(images/header_zebra.png);
  background-repeat-x: repeat;
  background-repeate-y: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-color: #fff;
  z-index: 99;
}
.inner {
  width: 1024px;
  text-align: left;
  margin: auto;
  position: relative;
  font: inherit;
}
#logo {
  z-index: 100;
  float: left;
}
#container {
  width: 1024px;
  padding: 0 35px 0 35px;
  margin: 0 auto 0 auto;
  position: relative;
}
.doc_columns {
  width: 1024px;
  margin: 0;
  padding: 0;
  border: 0;
}
.menu_column {
  padding-left: 15px;
  padding-right: 15px;
  width: 235px;
  position: relative;
  background: url('images/menu_bg.png') repeat top left;
  vertical-align: top;
  padding-top: 1em;
}
.content_column {
  padding-left: 43px;
  width: 750px;
  border: 0;
  vertical-align: top;
  line-height: 1.08em;
  font-size: 12pt;
}
.in_menu li {
  list-style: disc outside;
  line-height: 1.2em;
  margin-left: 40px;
}
.sticky {
  position: fixed;
  top: 1em;
  width: 205px;
}
.menu_major {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 7px;
}
.menu_major a {
  display: block;
  border-radius: 3px;
  width: 100%;
  padding-left: 4px;
}
.menu_major li {
  line-height: 27px;
  padding-left: 14px;
}
.menu_sub {
  font-size: 15px;
  font-weight: 400;
}
.menu_item {
  font-size: 14px;
  font-weight: 400;
  margin-left: 14px;
}
.top_style {
  line-height: 1.3em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
li p {
  margin: 0;
}
.active {
  background-color: rgba(173, 177, 187, 0.73);
}
a:link {
  /*color: rgba(103, 144, 251, 1.000);*/

  color: #0067ab;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  /*color: rgba(103, 144, 251, 1.000);*/

  color: #0067ab;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  color: #841e79;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  background-color: rgba(173, 177, 187, 0.73);
  text-decoration: none;
}
em {
  font-style: italic;
}
#footer {
  height: 160px;
  position: relative;
  min-width: 1024px;
  padding: 15px 35px 3px 35px;
  margin: 0;
  background-image: url(images/header_zebra.png);
  background-repeat-x: repeat;
  background-repeate-y: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-color: #fff;
  z-index: 100;
}
#footer a:link {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
#footer a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
#footer ul {
  list-style: disc;
  float: left;
}
#copyright {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 800;
}
#flogo {
  float: left;
  margin-right: 60px;
}
#footie_pajamas {
  color: #fff;
  margin-top: 15px;
}
#footie_pajamas li {
  line-height: 1.5em;
  padding: 4px;
}
.installing {
  color: grey;
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0.4) !important;
}
.gobutton {
  border-radius: 23px;
  display: inline-block;
}
.app {
  box-shadow: 0 0 20px -4px #000000;
  border-radius: 20px;
  margin: 0.5em;
  width: 8em;
  height: 3em;
  font-size: 12pt;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 30px;
  vertical-align: middle;
  line-height: 1em;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  cursor: pointer;
}
#not-installed {
  position: absolute;
  display: block;
  z-index: 100;
  background-color: #222222;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.download {
  font-size: 48pt;
  font-weight: 700;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #ffffff;
  display: block;
  z-index: 101;
  background-color: #30d031;
  border-radius: 20px;
  width: 8em;
  height: 3em;
  text-align: center;
  padding: 102px 10px 2px 10px;
  vertical-align: middle;
  line-height: 1em;
  box-shadow: 0 0 20px -1px #ffffff;
  margin: 1em auto;
  text-shadow: 0 0 33px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
a:link.download,
a:visited.download,
a:active.download,
a:hover.download {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background-color: #30d031;
}
.center {
  margin: 0 auto;
  text-align: center;
}
#ni-logo {
  margin-left: 3em;
  margin-top: 1em;
  display: block;
}
