!!! 5
html
  head
    title WebAppsCenter Client
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    link(rel="stylesheet", href="style.css", type="text/css")
    script(src="pakmanaged.js")
  body
    #css-body-wrapper
      h1.
        WebAppsCenter Client
      #todo
        ul
          li.
            control which remote sites may use WebAppsCenter
          li.
            granual controls (like android has)
          li.
            remove apps
          li.
            other settings
          li.
            list servers to which server apps may be deployed
