!!!5
html
  head
    title Local Web App Center
  body
    h1 Local Web App Center
    p.
      This is the service that runs on your computer that allows
      Web App Center to run.
    p.
      Thanks for looking, but there's nothing to do here.
    ul
      li
        h2
          span Return to 
          a(href="http://hurpdurp.com") Web App Center
          span ?
    p.
      So what does this actually do? 
    ul
      li Installs updates from Web App Center to your computer
      li Asks your permission before installing new Apps
      li Allows Cloud Apps to access Local Apps
